.git
undodir
plug_bak
.netrwhist
**/.git
**/git
**/gitignore
plugged/**/LICENSE
plugged/**/LICENCE
plugged/**/.github
plugged/**/test
plugged/**/tests
plugged/**/test-files
plugged/**/*.png
plugged/**/*.gif
plugged/**/*.md
plugged/**/*.markdown
plugged/**/Dockerfile
plugged/**/Makefile
plugged/**/Gemfile
plugged/**/Rakefile
plugged/**/__pycache__
plugged/**/*.tests
plugged/**/.dockerignore
plugged/LeaderF/autoload/leaderf/fuzzyMatch_C/build/**/*.so
plugged/LeaderF/autoload/leaderf/fuzzyMatch_C/build/**/*.o
plugged/LeaderF/autoload/leaderf/python/*.so
log.*
vimrc_
plugged/**/.gitignore
.DS_Store
*.yml
doc/tags
