snippet copyrightmit "copyright MIT License"
/* Copyright `date "+%Y"` ChantXu64 All Rights Reserved.

   Distributed under MIT license.
   See file LICENSE for detail or copy at https://opensource.org/licenses/MIT
 */

endsnippet

# vim:ft=snippets:
